In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import pw

# Read separate csv files into dataframes

## Box Office Mojo
* Rank = movies are ranked by worldwide gross revenue
* Grossing amounts are in millions of dollars
* '^' in the Year column indicates that the movie made their grossing amount over multiple releases

In [3]:
# AF Top 700 grossing films - Box Office Mojo
top700_mojo_path = 'Resources/top700_grossing_films_mojo.csv'
top700_mojo = pd.read_csv(top700_mojo_path)
print(len(top700_mojo))
top700_mojo.head()

700

,rank,title,studio,worldwide,domestic,perc_domestic,overseas,perc_overseas,year
0,1,Avengers: Endgame,BV,"$2,796.3",$858.4,30.7%,"$1,937.9",69.3%,2019
1,2,Avatar,Fox,"$2,789.7",$760.5,27.3%,"$2,029.2",72.7%,2009^
2,3,Titanic,Par.,"$2,187.5",$659.4,30.1%,"$1,528.1",69.9%,1997^
3,4,Star Wars: The Force Awakens,BV,"$2,068.2",$936.7,45.3%,"$1,131.6",54.7%,2015
4,5,Avengers: Infinity War,BV,"$2,048.4",$678.8,33.1%,"$1,369.5",66.9%,2018

## Data.World data

In [4]:
# BW San Francisco movie locations - data.world
sf_film_locations_path = 'Resources/SF_locations.csv'
sf_film_locations = pd.read_csv(sf_film_locations_path)
print(len(sf_film_locations))
sf_film_locations.head()

1920

   id title  release_year                              locations
0   0   180          2011      Epic Roasthouse (399 Embarcadero)
1   1   180          2011  Mason & California Streets (Nob Hill)
2   2   180          2011                    Justin Herman Plaza
3   3   180          2011                200 block Market Street
4   4   180          2011                              City Hall

## Kaggle data
Movie budgets

In [5]:
movie_budget_path = 'Resources/movies_clean.csv'
movie_budgets = pd.read_csv(movie_budget_path)
movie_budgets = movie_budgets[['title', 'budget', 'revenue', 'release_date', 'imdb_id', 'original_language']]
movie_budgets = movie_budgets.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
print(len(movie_budgets))
movie_budgets.head()

45351

,title,budget,revenue,release_date,imdb_id,original_language
0,Toy Story,30000000,373554033.0,1995-10-30,tt0114709,en
1,Jumanji,65000000,262797249.0,1995-12-15,tt0113497,en
2,Grumpier Old Men,0,0.0,1995-12-22,tt0113228,en
3,Waiting to Exhale,16000000,81452156.0,1995-12-22,tt0114885,en
4,Father of the Bride Part II,0,76578911.0,1995-02-10,tt0113041,en

### OMDB data
Movie runtime data

In [6]:
runtime_path = 'Resources/movies_runtime.csv'
runtime_df = pd.read_csv(runtime_path)
print(len(runtime_df))
runtime_df = runtime_df[['movies', 'Genre', 'Runtime', 'Awards', 'Director']]
runtime_df.columns = ['title', 'genre', 'runtime', 'awards', 'director']
runtime_df.head()

654

,title,genre,runtime,awards,director
0,Avengers: Endgame,"Action, Adventure, Sci-Fi",181.0,NaN,"Anthony Russo, Joe Russo"
1,Avatar,"Action, Adventure, Fantasy, Sci-Fi",162.0,Won 3 Oscars. Another 85 wins & 128 nominations.,James Cameron
2,Titanic,"Drama, Romance",194.0,Won 11 Oscars. Another 111 wins & 77 nominations.,James Cameron
3,Star Wars: The Force Awakens World Premiere Re...,NaN,NaN,NaN,NaN
4,Avengers: Infinity War,"Action, Adventure, Sci-Fi",149.0,NaN,"Anthony Russo, Joe Russo"

# Create database connection

In [7]:
conn_string = f"postgres:{pw}@localhost:5432/movie_db"
engine = create_engine(f'postgresql://{conn_string}')

In [8]:
top700_mojo.to_sql(name='mojo_top_grossing', con=engine, if_exists='append', index=False)

In [9]:
sf_film_locations.to_sql(name='SF_movie_locations', con=engine, if_exists='append', index=True)

In [10]:
movie_budgets.to_sql(name='kaggle_movies', con=engine, if_exists='append', index=False)

In [11]:
runtime_df.to_sql(name='film_runtime_awards', con=engine, if_exists='append', index=False)