In [20]:
# Dependencies and Setup
import pandas as pd
from sqlalchemy import create_engine

# File to Load (Remember to Change These)
SF_location_data_to_load = "Resources/film-locations-in-san-francisco.csv"


# Read School and Student Data File and store into Pandas Data Frames
location_data = pd.read_csv(SF_location_data_to_load)

# Combine the data into a single dataset

location_data.count()

Title                 3414
Release Year          3414
Locations             3306
Fun Facts              898
Production Company    3410
Distributor           3212
Director              3414
Writer                3404
Actor 1               3406
Actor 2               3228
Actor 3               2470
dtype: int64

In [21]:
location_data.drop_duplicates(keep="first",inplace=True)
location_data.count()

Title                 1975
Release Year          1975
Locations             1920
Fun Facts              559
Production Company    1973
Distributor           1861
Director              1975
Writer                1970
Actor 1               1969
Actor 2               1854
Actor 3               1435
dtype: int64

In [22]:
location_data_cols = ['Title','Release Year','Locations']
location_data_transformed= location_data[location_data_cols].copy()
location_data_transformed = location_data_transformed.dropna()
location_data_transformed.index.name = 'id'
location_data_transformed.columns = ['title', 'release_year','locations']
location_data_transformed.count()

title           1920
release_year    1920
locations       1920
dtype: int64

In [23]:
location_data_transformed.head()

   title  release_year                              locations
id
0    180          2011      Epic Roasthouse (399 Embarcadero)
1    180          2011  Mason & California Streets (Nob Hill)
2    180          2011                    Justin Herman Plaza
3    180          2011                200 block Market Street
4    180          2011                              City Hall

In [24]:
location_data_transformed.to_csv("SF_locations.csv")

In [17]:
connection_string = "postgres:qzectbu@localhost:5432/movie_db"
engine = create_engine(f'postgresql://{connection_string}')

In [18]:
# Confirm tables
engine.table_names()

['sf_movie_locations']

In [19]:
location_data_transformed.to_sql(name='sf_movie_locations', con=engine, if_exists='append', index=True)